<%= form_for(@claim) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name, "Name" %><span class="json-question-hint">As you would like it to appear on your certificate.</span></br>
    <%= f.text_field :first_name, placeholder: "First" %>
    <%= f.text_field :first_name, placeholder: "Last" %>
  </div>
  
  <%= f.fields_for :survey_data do |sd| %>
    <% @questions.each do |question| %>
      <%= JsonQuestionBuilder.new(question, sd).render %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
