<p id="notice"><%= notice %></p>

<p>
  <strong>User uri:</strong>
  <%= @response.user_uri %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @response.payload %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
